<div class="card card-navy">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa-id-card"></i>
      &nbsp;
      アカウント情報
    </h3>
  </div>
  <div class="card-body">

    <div class="col col-md-8 offset-md-2">
      <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <th><%= User.human_attribute_name :name %></th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name :company_name %></th>
            <td><%= @user.company_name %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name :email %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name :account_level %>.<%= @user.account_level %></th>
            <td><%= @user.account_level_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col col-md-8 offset-md-2">
      <%= link_to 'アカウント情報編集', edit_user_registration_path, class: "btn btn-sm btn-original" %>
    </div>
  </div>
</div>
