<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="favorite-modal-label">
        <i class="far fa-bookmark"></i>
        &nbsp;
        ブックマーク一覧
      </h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <table class="favorite-table table table-sm">
        <tr>
          <th>型式</th>
          <th><%= Category.human_attribute_name :name %></th>
          <th><%= Brand.human_attribute_name :name %></th>
        </tr>
        <% @user_favorites_products.each do |favorite_product| %>
          <tr>
            <td>
              <%= link_to favorite_product.model,
                    rails_blob_path(favorite_product.document),
                    target: :_blank, rel: "noopener noreferrer" %>
            </td>
            <td><%= Category.find(favorite_product.category_id).name %></td>
            <td><%= Brand.find(favorite_product.brand_id).name %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
