<h5><%= user_name(@user) %></h5>

<div class="col col-md-8 offset-md-2">
  <%= form_with model: @user, url: admins_user_path, method: :patch, local: true do |f|  %>
    <table class="table table-sm table-bordered">
      <tbody>
        <tr>
          <th width="25%"><%= User.human_attribute_name :id %></th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <td><%= f.text_field :name, required: true, class: "form-control-sm form-control" %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name :email %></th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>

    <div class="field">
      <%= f.submit submit_text, class: "btn btn-navy w-100", data: { disable_with: '送信中' } %>
    </div>
  <% end %>
</div>
