<div class="row">
  <div class="col-md-12">
    <h5>ユーザー</h5>

    <table class="table table-sm">
      <thead class="table-dark text-center">
        <tr>
          <th>ID</th>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :sign_in_count %></th>
          <th><%= User.human_attribute_name :current_sign_in_at %></th>
          <th><%= User.human_attribute_name :current_sign_in_ip %></th>
          <th><%= User.human_attribute_name :last_sign_in_at %></th>
          <th><%= User.human_attribute_name :last_sign_in_ip %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, admins_user_path(user) %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td class="text-center"><%= user.sign_in_count %></td>
            <td class="text-center"><%= user_current_sign_in_at(user) %></td>
            <td class="text-center"><%= user.current_sign_in_ip %></td>
            <td class="text-center"><%= user_last_sign_in_at(user) %></td>
            <td class="text-center"><%= user.last_sign_in_ip %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>