<div class="row">
  <div class="col-md-12">
    <h5>ユーザー</h5>

    <%= search_form_for @q, url: admins_users_path do |f| %>
      <div class="user-search-flexbox">
        <div class="user-search-flexbox-item">
          <%= f.search_field :name_cont, placeholder: "名前", class: "form-control form-control-sm" %>
        </div>

        <div class="user-search-flexbox-item">
          <%= f.search_field :email_cont, placeholder: "email", class: "form-control form-control-sm" %>
        </div>

        <div class="user-search-flexbox-item">
          <%= f.submit "検索", class: "btn btn-sm btn-navy" %>
          <%= link_to 'リセット', admins_users_path, class: "btn btn-sm btn-secondary" if params[:q].present? %>
        </div>
      </div>
    <% end %>

    <div class="users-table">
      <table class="table table-sm">
        <thead class="table-dark text-center">
          <tr class="user-table-header">
            <th><%= sort_link(@q, :id) %></th>
            <th><%= sort_link(@q, :name) %></th>
            <th><%= sort_link(@q, :email) %></th>
            <th><%= sort_link(@q, :sign_in_count) %></th>
            <th><%= sort_link(@q, :current_sign_in_at) %></th>
            <th><%= sort_link(@q, :current_sign_in_ip) %></th>
            <th><%= sort_link(@q, :last_sign_in_at) %></th>
            <th><%= sort_link(@q, :last_sign_in_ip) %></th>
            <th><%= sort_link(@q, :created_at) %></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.id, admins_user_path(user) %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td class="text-center"><%= user.sign_in_count %></td>
              <td class="text-center"><%= user_current_sign_in_at(user) %></td>
              <td class="text-center"><%= user.current_sign_in_ip %></td>
              <td class="text-center"><%= user_last_sign_in_at(user) %></td>
              <td class="text-center"><%= user.last_sign_in_ip %></td>
              <td><%= user.created_at.strftime("%Y/%-m/%-d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<style>
.users-table {
  overflow: auto; /* 横スクロールバーを表示 */
  white-space: nowrap; /* セル内にあるテキストの折り返しを禁止 */
}

.user-table-header a {
  color: #fff;
}

.user-table-header a:hover {
  color: #dee2e6;
  text-decoration: none;
}

.user-search-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 以降はレイアウトとは無関係です */
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-search-flexbox-item {
  flex-basis: calc((100% - 20px) / 3);
  max-width: calc((100% - 20px) / 3);
  margin-top: 20px;
  /* 以降はレイアウトとは無関係です */
}

/* 1段目だけ上下マージンを無くす */
.user-search-flexbox-item:nth-of-type(1),
.user-search-flexbox-item:nth-of-type(2),
.user-search-flexbox-item:nth-of-type(3) {
  margin-top: 0;
}

/* 最終行のアイテム数が2OR3つの時、左右に振り分けられるのを防ぐ */
.user-search-flexbox-item:nth-of-type(3n-1):nth-last-of-type(1),
.user-search-flexbox-item:nth-of-type(3n-2):nth-last-of-type(1) {
  margin-right: auto;
  margin-left: 20px;
}

.user-search-flexbox-item:nth-of-type(3n-2):nth-last-of-type(2) {
  margin-right: 0;
  margin-left: 20px;
}

</style>