<div class="center">
  <div class="login-form">
    <div class="login-field-group">
      <div class="">
        <h5>PARTS LIST</h5>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, placeholder: 'ID', autocomplete: "email", class: "form-control form-control-sm" %>
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder: :password, autocomplete: "current-password", class: "form-control form-control-sm" %>
          </div>

          <!-- <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %> -->

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-sm btn-dark btn-block", data: { disable_with: 'Sending...' } %>
          </div>
        <% end %>

        <div class="shared-links" style="font-size: small;">
          <%= render "admins/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>