<div id="pageBase">
  <div class="login">
    <h1 class="logo"><img src="/top_logo.png" alt="PARTS LIST"></h1>
  </div>
</div>

<div class="row center">
  <div class="user-password-form col col-md-6 offset-md-3">
    <div class="field-group">
      <h2>パスワード再設定</h2>
      <br/>
      <p>パスワードを忘れた場合は登録メールアドレスへ再設定手続きを送信してください。</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードを再設定する", class: "btn btn-block btn-navy" %>
        </div>
      <% end %>

      <div class="shared-links">
        <%= render "users/shared/links" %>
      </div>

    </div>
  </div>
</div>