<div class="col-md-6 offset-md-3">
  <h3>カテゴリー並べ替え</h3>
  <div class="new-category-btn">
    <div class="new-category-item-right">
      <%= link_to '戻る', categories_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>

  <table class="table table-sm table-sortable">
    <thead>
      <tr w-auto class="bg-light">
        <th></th>
        <th>No.</th>
        <th><%= Category.human_attribute_name :name %></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr id="category-<%= category.id %>" class="item" data-model_name="<%= category.class.name.underscore %>" data-update_url="<%= category_sort_path(category) %>" data-method="post">
          <td class="w-100px"></td>
          <td class="w-100px"><%= @heading_number += 1 %></td>
          <td class="w-360px"><%= category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
