<h5>パスワード再設定</h5>

<div class="col-md-6 offset-md-3">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, placeholder: 'ID', autocomplete: "email", class: "form-control-sm form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードリセットを送信", class: "btn btn-sm btn-dark btn-block" %>
    </div>
  <% end %>

  <div class="shared-links" style="font-size: small;">
    <%= render "admins/shared/links" %>
  </div>
</div>
