<div class="row">
  <div class="col-md-8 offset-md-2">
    <h5>パーツリスト登録</h5>

    
    <%= search_form_for @q, url: admins_products_path do |f| %>
      <div class="search-flexbox">
        <div class="search-flexbox-item">
          <%= f.search_field :model_cont, placeholder: "型式", class: "form-control form-control-sm" %>
        </div>

        <div class="search-flexbox-item">
          <%= f.collection_select :category_id_eq, @categories, :id, :name, { include_blank: '機種選択' }, { class: "form-control form-control-sm" } %>
        </div>

        <div class="search-flexbox-item">
          <%= f.collection_select :brand_id_eq, @brands, :id, :name, { include_blank: 'メーカー選択' }, { class: "form-control form-control-sm" } %>
        </div>

        <div class="search-flexbox-item">
          <%= f.submit "検索", class: "btn btn-sm btn-navy" %>
          <%= link_to 'リセット', admins_products_path, class: "btn btn-sm btn-secondary" if params[:q].present? %>
        </div>
      </div>
    <% end %>


    
    <div class="new-product-btn">
      <div class="new-product-item">
        <%= link_to '新規登録', new_admins_product_path, remote: true, class: "btn btn-sm btn-navy" %>
      </div>
      <div class="new-product-item size-text">
        <%= "ストレージ使用量 : #{sprintf("%.2f", (@storage_size.sum.to_f / 1000000000))} GB" %>
      </div>
    </div>

    <table class="table table-sm">
      <thead class="table-dark">
        <tr class="product-table-header">
          <th>
            <!-- <%= Product.human_attribute_name :model %> -->
            <%= sort_link(@q, :model) %>
          </th>
          <th>
            PDF
          </th>
          <th>
            <!-- <%= Category.human_attribute_name :name %> -->
            <%= sort_link(@q, :category_id, '機種') %>
          </th>
          <th>
            <!-- <%= Brand.human_attribute_name :name %> -->
            <%= sort_link(@q, :brand_id, 'メーカー') %>
          </th>
          <th class="center">修正</th>
          <th class="center">削除</th>
        </tr>
      </thead>
      
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.model %>
            </td>
            <td>
              <%= document_link(product.document) %>
            </td>
            <td>
              <%= Category.find(product.category_id).name %>
            </td>
            <td>
              <%= Brand.find(product.brand_id).name %>
            </td>
            <td class="center">
              <%= link_to edit_admins_product_path(product), remote: true do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </td>
            <td class="center">
              <%= link_to admins_product_path(product), method: :delete, id: "trash-icon-#{product.id}", data: { disable_with: "送信中", confirm: "#{product.model}のパーツリストを削除しますか？" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= paginate @products %></div>
  </div>
</div>

<div id="new-product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<style>
  .product-table-header a {
    color: #fff;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #47619c;
    border-color: #47619c;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #47619c;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .search-flexbox{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /* 以降はレイアウトとは無関係です */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search-flexbox-item{
    flex-basis:calc((100% - 20px) / 4);
    max-width:calc((100% - 20px) / 4);
    margin-top:20px;
    /* 以降はレイアウトとは無関係です */
  }

  /* 1段目だけ上下マージンを無くす */
  .search-flexbox-item:nth-of-type(1),
  .search-flexbox-item:nth-of-type(2),
  .search-flexbox-item:nth-of-type(3),
  .search-flexbox-item:nth-of-type(4){
    margin-top:0;
  }

  /* 最終行のアイテム数が2OR3つの時、左右に振り分けられるのを防ぐ */
  .search-flexbox-item:nth-of-type(4n-1):nth-last-of-type(1),
  .search-flexbox-item:nth-of-type(4n-2):nth-last-of-type(1){
    margin-right:auto;
    margin-left:20px;
  }
  
  .search-flexbox-item:nth-of-type(4n-2):nth-last-of-type(2){
    margin-right:0;
    margin-left:20px;
  }
</style>
