<div class="row">
  <div class="col-md-8 offset-md-2">
    <h5>パーツカタログ登録</h5>
  <div class="new-product-btn">
    <div class="new-product-item-left">
      <%= link_to '新規', new_admins_product_path, remote: true, class: "btn btn-sm btn-navy" %>
    </div>
  </div>

  <table class="table table-sm table-striped">
    <thead class="table-dark">
      <tr>
        <th>
          <%= Product.human_attribute_name :model %>
        </th>
        <th>
          PDF
        </th>
        <th>
          <%= Category.human_attribute_name :name %>
        </th>
        <th>
          <%= Brand.human_attribute_name :name %>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= product.model %>
          </td>
          <td>
            <%= document_link(product.document) %>
          </td>
          <td>
            <%= Category.find(product.category_id).name %>
          </td>
          <td>
            <%= Brand.find(product.brand_id).name %>
          </td>
          <td>
            <%= link_to edit_admins_product_path(product), remote: true do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admins_product_path(product), method: :delete, id: "trash-icon-#{product.id}", data: { disable_with: "送信中", confirm: '選択したパーツカタログを削除しますか？' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="new-product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
