<div class="modal fade" id="new-product-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-product-modal-label">パーツカタログ登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_with model: @product, remote: true do |f|  %>
          <div class="form-group">
            <div class="field">
              <%= f.label :model, '型式' %>
              <%= f.text_field :model, placeholder: "50文字以内", required: true, maxlength: "50", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :category_id, '機種' %>
              <%= f.select :category_id, Category.rank(:row_order).map { |category| [category.name, category.id] }, {}, { required: true, class: "form-control" } %>
            </div>
            
            <div class="field">
              <%= f.label :brand_id, 'メーカーブランド' %>
              <%= f.select :brand_id, Brand.rank(:row_order).map { |brand| [brand.name, brand.id] }, {}, { required: true, class: "form-control" } %>
            </div>

            <div class="field">
              <%= f.submit '登録', class: "btn btn-navy w-100", data: { disable_with: '送信中' } %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
