<!DOCTYPE html>
<html>
  <head>
    <title>PARTS LIST</title>
    <%= favicon_link_tag('/favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <% if user_signed_in? %>
    <%= render 'layouts/user_header' %>
  <% elsif admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% end %>
  
  <body>
    <div class="container-sm">
      <div class="flash_messages">
        <% flash.each do |key, value| %>
          <p class="alert alert-<%= bootstrap_alert(key) %>">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </p>
        <% end %>
      </div>

      <!-- <p class="notice"><%= notice %></p> -->
      <!-- <p class="alert"><%= alert %></p> -->

      <div class="container main">
        <%= yield %>
      </div>

      <div>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>

<style>
  .flash_messages {
    /* position: fixed; */
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    z-index: 1;
    
    margin-top: 5px;
    left: 200px;
    right: 200px;
  }
</style>