<!DOCTYPE html>
<html>
  <head>
    <title>PARTS LIST</title>
    <%= favicon_link_tag('/favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', :debug => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <!--
  <% if user_signed_in? %>
    <= render 'layouts/user_header' %>
  <% elsif admin_signed_in? %>
    <= render 'layouts/admin_header' %>
  <% end %>
  -->

  <body class="hold-transition sidebar-mini">
    <% if user_signed_in? || admin_signed_in? %>
      <div class="wrapper">

        <% if admin_signed_in? %>
          <%= render 'layouts/admin_header' %>
        <% elsif user_signed_in? %>
          <%= render 'layouts/user_header' %>
        <% end %>

        <div class="content-wrapper">
          <div class="content-header">
            <div class="flash_messages">
              <% flash.each do |key, value| %>
                <p class="alert alert-<%= bootstrap_alert(key) %>">
                  <%= value %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </p>
              <% end %>
            </div>
          </div>
      
          <!-- Main content -->
          <div class="container-sm">
            <div class="container main">
              <%= yield %>
            </div>

            <div>
              <%= debug(params) if Rails.env.development? %>
            </div>
          </div>

        </div>
      
        <!-- Control Sidebar -->
        <!-- <aside class="control-sidebar control-sidebar-dark"> -->
          <!-- Control sidebar content goes here -->
          <!-- <div class="p-3"> -->
            <!-- <h5>Title</h5> -->
            <!-- <p>Sidebar content</p> -->
          <!-- </div> -->
        <!-- </aside> -->
        <!-- /.control-sidebar -->
      
        <!-- Main Footer -->
        <footer class="main-footer">
          <!-- To the right -->
          <div class="float-right d-none d-sm-inline">
            Anything you want
          </div>
          <!-- Default to the left -->
          <strong>Copyright©秋田マッカラー株式会社</strong> All Rights Reserved.
        </footer>
      </div>
    <% else %>
      <div class="container main">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>

<style>
  .flash_messages {
    /* position: fixed; */
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    z-index: 1;
    
    margin-top: 5px;
    left: 200px;
    right: 200px;
  }
</style>