<div class="card card-navy">
  <div class="card-header">
    <h3 class="card-title">アカウント情報編集</h3>
  </div>

  <div class="card-body">
    <div>
      <div class="col col-md-6 offset-md-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control-sm form-control" %>
          </div>

          <div class="field">
            <%= f.label :company_name %><br />
            <%= f.text_field :company_name, autofocus: true, autocomplete: "name", class: "form-control-sm form-control" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control-sm form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(変更しない場合は空欄にしてください。)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control-sm form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> 文字以上</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control-sm form-control" %>
          </div>

          <!-- <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div> -->

          <div class="actions">
            <%= f.submit "編集", class: "btn btn-block btn-sm btn-original shadow", data: { disable_with: '送信中' } %>
            <%= link_to "戻る", :back, class: "btn btn-block btn-sm btn-secondary shadow" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="card card-navy collapsed-card">
  <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
    <h3 class="card-title">
      <i class="fas fa-exclamation"></i>
      &nbsp;
      退会手続き
    </h3>

    <div class="card-tools">
      <button type="button" class="btn btn-danger btn-sm" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-plus"></i>
      </button>
    </div>

  </div>
  <div class="card-body" style="display: none;">
      <div>   
        <%= button_to "退会する", registration_path(resource_name),
                                  class: "btn btn-danger shadow",
                                  data: { confirm: "本当に退会しますか?", disable_with: '送信中' },
                                  method: :delete %>
      </div>
      <br>
      <p style="font-size: small;">「退会する」ボタンを押すとアカウントが削除されます。</p>
  </div>
  